<div class="overflow-hidden">
  <div class="navbar p-md-5 m-md-5 pt-md-0 mb-md-0 p-1 m-1">
    <div class="d-flex flex-row">
      <img src="../../../../assets/vector-graphics/back_arrow.svg" />
      <button type="button" class="btn back-button p-0" (click)="back()">
        Back
      </button>
    </div>
  </div>
  <div>
    <img
      src="../../../../assets/vector-graphics/line.svg"
      class="vector-line position-absolute w-md-100 w-50 pr-2"
    />
  </div>
  <div class="row p-md-5 m-md-5 mt-md-0 p-2 m-2">
    <div class="col-md-6 d-flex flex-column justify-content-center">
      <h1 class="text-heading mb-3">Welcome to TourTrekker</h1>
      <p class="text-description">Please enter your credentials to proceed</p>
    </div>
    <div class="login-form col-md-6 p-5">
      <form
        [formGroup]="loginForm"
        (ngSubmit)="login()"
        class="needs-validation align-items-start"
      >
        <div class="header mb-4">Sign in</div>
        <div class="mb-4">
          <div class="mb-2">
            <label for="exampleInputUsername" class="form-label"
              >Username</label
            >
            <input
              type="text"
              required="true"
              formControlName="username"
              class="form-control form-input p-3"
              [ngClass]="{
                'red-border':
                  loginForm.get('username')?.hasError('required') &&
                  (loginForm.get('username')?.touched || this.submitted)
              }"
              autocomplete="off"
              id="exampleInputUsername"
              placeholder="Enter your username here"
            />
            <span *ngIf="!usernameFilled" class="red"
              >Username must be filled</span
            >
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword" class="form-label text-start"
              >Password</label
            >
            <div class="input-group">
              <input
                [type]="fieldTextType ? 'text' : 'password'"
                formControlName="password"
                class="form-control form-input p-3"
                id="exampleInputPassword"
                autocomplete="off"
                placeholder="Enter password here"
                [ngClass]="{
                  'red-border':
                    loginForm.get('password')?.hasError('required') &&
                    (loginForm.get('password')?.touched || this.submitted)
                }"
              />

              <div class="input-group-append">
                <span
                  class="input-group-text eye-icon"
                  [ngClass]="{
                    'red-border':
                      loginForm.get('password')?.hasError('required') &&
                      (loginForm.get('password')?.touched || this.submitted)
                  }"
                  (click)="toggleFieldTextType()"
                >
                  <i
                    class="bi"
                    [ngClass]="{
                      'bi-eye-slash': fieldTextType,
                      'bi-eye': !fieldTextType
                    }"
                  ></i>
                </span>
              </div>
            </div>
            <span *ngIf="!passFilled" class="red">Password must be filled</span>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckIndeterminate"
            />
            <label class="form-check-label" for="flexCheckIndeterminate">
              Remember me
            </label>
          </div>
        </div>
        <div>
          <button type="submit" class="btn sign-in-button mb-2">Sign in</button>
          <p class="register-label mb-0">
            Don't have an account yet?
            <a href="/register" class="link">Register now</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
